*{
    box-sizing: border-box;
}
.container{
    display: flex;
    width : 100%;
    min-height: 150px;
}
header{
    background-color: #2c3e50;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 10;
}
.h-left{
    width: 50%;
    padding-left: 40px;
    position: relative;
}
.h-left h2{
    padding-bottom: 20px;
    color: white;
}
.menu1{
    float: left;
}
.menu1 .current{
    background-color: brown;
}
h-right{
    width: 50%;
}
.h-right li{
    float: right;
    padding: 5px 10px;
    list-style: none;
    margin-left:3px;
    border-radius: 3px;
}
.h-right li:hover{
    background-color: #95a5a6;
}
.h-right a:hover{
    color: #2c3e50;
}
.h-right a{
    color: white;
    text-decoration: none;
}
.menu2{
    float: right;
    margin-left: 200px;
    padding-top: 15px;
}
.top-wrap{
    background-image: url(img/pixabayF.jpg);
    background-size: cover;
    height: 620px;
}
.top-wrap h1{
    color: brown;
    margin-top: 80px;
    margin-left: 20pc;
    padding-top: 13pc;
    font-size: 3vw;
}

/*content*/
.content{
    margin-top: 20px;
    overflow: auto;
    background-color: rgb(217, 232, 241);
    margin: 0px 30px;
    
}
.heading h2{
    margin-left: 100px;
}
.tutor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
}
.tutor .gambart img{
    width:100%;
    padding: 2px 10px;
    font-size: small;
}
.gambart{
    border: none;
    margin: 10px;
    text-align: center;
    background-color: wheat;
}
.gambart a{
    background-color: red;
    border-radius: 3px;
    text-decoration: none;
    padding: 3px 6px;
    color: white;
}
.gambart a:hover{
    background-color: springgreen;
}
.gambart:hover{
    font-weight: bold;
   margin-left: 5px;
}
footer{
    background-color: #2c3e50;
    
}
.f-left{
    width: 70%;
}
.f-left h2{
    color: white;
    padding-left: 4pc;
}
.f-right{
    width: 30%;
}
.f-right h2{
    color: white;
}
.fab{
    padding: 3px 5px;
}
.fa-facebook-square{
    color: deepskyblue;
    font-size: 40px;
}
.fa-whatsapp-square{
    color: limegreen;
    font-size: 40px;
}
.fa-instagram-square{
    color: deeppink;
    font-size: 40px;
}
.fa-youtube{
    color: red;
    font-size: 40px;
}
.anim {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: 100;
    text-align: center;
    padding-top: 25px;
    font-size: x-large;
    font-weight: bolder;
  }
  
  @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    100% {background-color:red; left:0px; top:0px;}
  }
  @media all and (max-width: 1000px) {
   
    header {
        width: 100%;
        padding: 0;
    }
    .menu1{
        width: 100%;
        padding-right: 2px;
        float: left;
    }
    .menu2{
        width: 20%;
        position: absolute;
        float: left;
    }
    .top-wrap h1{
        color: brown;
        margin-top: 50px;
        margin-left: 5pc;
        padding-top: 13pc;
        font-size: 6vw;
        text-align: center;
    }
    .tutor{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 50px;
    }
 }
 @media all and (max-width: 670px) {
    header{
        width: 100%;
    }
    .menu1{
        width: 100%;
        position: relative;
        min-height: 36px;
        margin-bottom: 10px;
    }
    .menu1 ul{
        width: 180px;
        padding: 5px 0;
        position: absolute;
        top: 0;
        left: 0;
       
    }
    .menu1 li{
        display: none;
        margin-right: 80px;
    }
    .menu1 .current{
        display: block;
    }
    .menu1 a{
        display: block;
        padding: 2px 3px;
        text-align: right;
        
    }
    .menu1 .current a{
        background: none;
    }
    .menu1 ul:hover{
        background-image: none;
        background-color: brown;
    }
    .menu1 ul:hover li{
        display: block;
    }
    .menu2{
        width: 20%;
        position: relative;
        margin-right: 50px;
    }
    .menu2 li{
        background-color: brown;
        margin-right: 110px;
        margin-bottom: 100px;
    }
    .li .current{
        margin-bottom: 60px;
    }
    .menu2 .current{
        margin-bottom: 100px;
    }
    .top-wrap h1{
        color: brown;
        margin-top: 50px;
        margin-left: 3pc;
        padding-top: 13pc;
        font-size: 10vw;
        text-align: center;
    }
    .tutor{
        display: grid;
        grid-template-columns: 1fr ;
        margin-top: 50px;
    }
    .footer{
        width: 100%;
    }
 }
 
